@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>



<p>
    Chargeback calculator is an application for the Bank Employee and Bank Customers. In that Customer can register & login to account and
    able to raise the Chargeback complaints. And the Employee can register & login to his
    account and checks for the customer complaint and Employee is able to Approve and Reject the chargeback complaint.
</p>
