@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Chargeback Calculator Team</strong>
</address>

<address>
    <strong>Team Members: </strong>
    <ul>
        <li>Anshul</li>
        <li>Pushpavathi</li>
        <li>Mounika</li>
        <li>Neelaveni</li>
        <li>Kuruguntla</li>
    </ul>
</address>