@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>ChargeBack Calculator</h1>
    <p class="lead">Welcome to ChargeBack Calculator</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Go To Admin !!</h2>
        <p>
            Only For the Admin of the bank.
        </p>
        <p><a class="btn btn-primary" href="https://localhost:44304/AdminRegisters/AdminLogin">Admin &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Go To Customer !!</h2>
        <p>
            For the Account Holder.
        </p>
        <p><a class="btn btn-primary" href="https://localhost:44304/CustomerRegisters/CustomerLogin">Customer &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Go To Employee !!</h2>
        <p>
            Only For Bank Employee.
        </p>
        <p><a class="btn btn-primary" href="https://localhost:44304/EmployeeRegisters/EmployeeLogin">Employee &raquo;</a></p>
    </div>
</div>